.menu {
  margin-top: 2rem;
}

.menu__text {
  text-align: center;
  margin-bottom: 5rem;
}

.menu__subtitle {
  color: var(--clr-slate400);
  font-size: var(--size-base);
}

.menu_title {
  color: var(--clr-orange);
  font-size: var(--size-5xl);
}

.menu__products-flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5em;
}

.menu__card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5em;
  padding: 2em 1em;
  background-color: rgba(255, 153, 0, 0.05);
  transition:  background-color .2s ;
}

.menu__card:hover{
  background-color: rgba(255, 153, 0, 0.192);
}


.card__image-container {
  width: 300px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__image {
  max-width: 60%;
  transition: transform .3s;
}
.menu__card:hover .card__image{

  transform: rotate(-6deg); 
}
.card__name {
  color: var(--clr-orange);
}

.card__price {
  color: var(--clr-orange);
  font-size: var(--size-xs);
}
.card__description {
  color: var(--clr-slate600);
  font-size: var(--size-xs);
}
.card__price::before {
  content: "\20B1";
}

.card__btn {
  margin-top: 1em;
  font-size: 0.7em;
  width: 18em;
}
