.order {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 3em;
}

.order__right {
  width: 30%;
  padding: 5em;
  display: none;
}

.order__left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  background-color: rgba(255, 153, 0, 0.05);
  border-radius: 6px;
}
.order__title {
  text-align: center;
  font-size: var(--size-xs);
  color: var(--clr-orange);
}
.order__user-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
}

.order__user-input input {
  height: 4em;
  width: 100%;
  border: 1px solid orange;
  outline: none;
  border-radius: 0.5em;
  padding: 0 1em;
  background-color: rgba(255, 255, 255, 0.05);
  transition: border 0.3s;
  color: var(--clr-slate600);
}

.order__user-input input:focus {
  border-bottom: 4px solid var(--clr-orange);
}

.order__user-input label {
  color: var(--clr-orange);
  font-size: var(--size-xs);
  font-weight: 600;
  letter-spacing: -0.05em;
}

.order__service {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
.select__service label {
  color: var(--clr-orange);
  font-size: var(--size-xs);
  font-weight: 600;
  letter-spacing: -0.05em;
  display: inline-block;
}

.food-service-select {
  width: 100%;
  display: inline-block;
  border-radius: 6px;
  padding: 0 0.5em;
  height: 4em;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid var(--clr-orange);
  font-size: 0.75em;
  letter-spacing: -0.05em;
  color: var(--clr-slate600);
}

.food-service-select:focus {
  outline: none;
  border-bottom: 4px solid var(--clr-orange);
}

.order__mode-payment {
  display: flex;
  color: var(--clr-orange);
  flex-direction: column;
}

.order__mode-payment-title {
  color: var(--clr-orange);
  font-size: var(--size-xs);
  font-weight: 600;
  letter-spacing: -0.05em;
}

.payment__category {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  border: 1px solid var(--clr-orange);
  padding: 1em;
  border-radius: 6px;
  transition: border 0.3s;
}

.payment__category:hover {
  border-bottom: 3px solid var(--clr-orange);
}

.order__buttons {
  margin-top: 3em;
  display: flex;
  gap: 1em;
}

.submit__btn {
  width: 100%;
}

.reset__btn {
  display: inline-block;
  font-weight: 600;
  color: var(--clr-light);
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-slate400);
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(185, 185, 185, 0.5),
    0 6px 6px rgba(185, 185, 185, 0.5), 0 0 100px -10px var(--clr-slate400);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 70%;
}

.food-service__conatiner {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  
}

.fs-option__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--size-xs);
  padding: 1em;
  background-color: var(--clr-orange);
  border-radius: 6px;
  border: 1px solid var(--clr-orange);
  transition: border 0.3s;
}

.fs-option__btn:hover {
  border-bottom: 4px solid rgb(174, 87, 0);
}
.food-service__options {
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.3em;
  padding: 0;
  width: 50%;
  right: 0;
  top: 110%;
  display: none;
 z-index: 9999;
 
}

.food-service__options li {
  padding: 1em;
  font-size: var(--size-xs);
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--clr-slate400);
  transition: background-color 0.3s;
  border-radius: 6px;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);
}
.food-service__options li:hover {
  background-color: var(--clr-slate600);
}
/* xs */
@media (min-width: 475px) {
  .payment__category {
    flex-direction: row;
    gap: 1em;
    align-items: start;
    text-wrap: nowrap;
    flex-wrap: wrap;
  }
}

/* sm */
@media (min-width: 640px) {
  .order__right {
    width: 60%;
    padding: 2em;
    display: block;
  }
}

/* md */
@media (min-width: 768px) {
  .order__title {
    font-size: var(--size-base);
  }

  .order__service {
    flex-direction: row;
  }
}

/* lg */
@media (min-width: 1024px) {
  .order__right {
    width: 40%;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
